body{
    background-size: cover;
    background-image: url("img/image2.jpg");
    background-repeat: no-repeat;
    width: 100%;
    margin: 0 auto;
}
nav{
   
    background-color: antiquewhite;
    height: 50px;
}
ul{
    display: flex;
    float: right;

}


ul li{
    display: inline-block;
}
li{
    width: 100px;
}
section{
    clear: both;
}